<template name="AppLayout">

    <head>
        <title>paljunction</title>
        <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <h1>PalJunction</h1>
        <hr/> {{> yield}}
    </body>
</template>

<template name="hello">
    <h3>Peace on E207</h3>

    <form class="name-form">
        <input type="text" name="firstname">
        <input type="submit">
    </form>
</template>